<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/styleSheets/font.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=orders" />
</head>

<body class="bg-[#d8e2dc]">

    <div class=" px-4 bg-[#f8f9fa] min-h-screen">
        <h1 class="text-3xl text-zinc-900 font-bold p-4">Bid2x Collection</h1>

        <div class="flex gap-5">
            <div class="text-3xl bg-red-300/70 p-3 w-[45vw] min-h-screen rounded-2xl">
                <h1 class="bg-red-600 p-5 rounded-2xl mb-5">TOTAL AMOUNT : <%=redTotal%></h1>
                <% redBids.forEach(function(user) { %>
                    <div class="bg-trnasparent rounded-lg border p-4 mb-3">
                        <h2 class="text-lg">Name : <%= user.userName %> </h2>
                        <h2 class="text-lg">Color : <%= user.color %> </h2>
                        <h2 class="text-lg">Amount : <%= user.amount %> </h2>
                        <h2 class="text-lg">Email : <%= user.userEmail %> </h2>
        
                    </div>
                    <%});%>
            </div>
            <div class="text-3xl bg-blue-300/70 p-3 w-[45vw] min-h-screen rounded-2xl">
                <h1 class="bg-blue-600 p-5 rounded-2xl mb-5">TOTAL AMOUNT : <%=blueTotal%></h1>

                <% blueBids.forEach(function(user) { %>
                    <div class="bg-trnasparent rounded-lg border p-4 mb-3">
                        <h2 class="text-lg">Name : <%= user.userName %> </h2>
                        <h2 class="text-lg">Color : <%= user.color %> </h2>
                        <h2 class="text-lg">Amount : <%= user.amount %> </h2>
                        <h2 class="text-lg">Email : <%= user.userEmail %> </h2>
                    </div>
                    <%});%>
            </div>
        </div>
    </div>


</body>

</html>