<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/styleSheets/font.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=orders" />
</head>
<body class="bg-[#d8e2dc] text-black">
    
  <div class="max-w-md mx-auto pb-20 sm:px-6 px-4 bg-[#f8f9fa] ">
    
    <h1 class="text-4xl font-bold pt-3"> </h1>

    <!-- Back Button -->
    <a href="/" class="flex items-center gap-2 bg-zinc-200 rounded-md px-3 py-2 w-fit hover:bg-zinc-300 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="font-bold">Back</span>
    </a>

    <h1 class="text-4xl font-bold mb-6 pt-3">Wallet Details</h1>

    <div class="bg-zinc-200/40 rounded-xl mt-2 p-4 flex justify-between items-center">
      <div class="ml-3">
        <h1 class="">Wallet Balance</h1>
        <h1 class="text-xl font-bold bg-gradient-to-r from-blue-500 to-black text-transparent bg-clip-text">
          ₹ <%= user.coins %> 
        </h1>
      </div>
      <a href="/addcoin" class="mr-3 bg-gradient-to-r from-blue-500 to-black text-white rounded-md px-3 py-1">WITHDRAW</a>
    </div>

    <div class="flex mt-3">
      <a class="text-xl w-full text-center bg-gradient-to-r from-blue-500 text-white to-black rounded-xl py-3 px-4" href="">+ Add
        Coins</a>
      <!-- <a class="text-xl bg-gradient-to-r from-blue-500 text-white to-black rounded-lg py-1 px-4" href="">Add money</a> -->
    </div>

    <div class="bg-zinc-200/40 rounded-xl mt-3 min-h-screen">
      <h1 class="text-2xl font-semibold px-4 pt-4">Transaction history</h1>
    
      <% user.transactions.slice().reverse().forEach(function(Details){ %>
        <%let sign = '' %>
        <%let color = '' %>
        <% if(Details.description === 'Winning : Bid2x') {sign = '+' , color = 'text-green-500'}%>
        <% if(Details.description === 'Joining fee : Bid2x') {sign = '-' , color = 'text-red-500'}%>
        
        <div class="bg-white shadow-md rounded-lg p-4 flex items-center justify-between m-3">
          <div>
            <h1 class="font-semibold text-lg leading-none"><%= Details.description %></h1>
            <p class="text-md text-gray-500">
              <%
              const date = new Date(Details.date);
              const day = String(date.getDate()).padStart(2, '0');
              const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
              const year = String(date.getFullYear()).slice(-2);
            %>
            
            <%= `${day}/${month}/${year}` %>
            <!-- <%= new Date(Details.date).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) %> -->
            
            </p>
          </div>
          <div class="<%= color %> text-xl font-bold"> <%=sign%> <%= Details.amount %></div>
        </div>
     <%})%>

    </div>
    

  </div>
   
</body>
</html>

